.left-nav-menu {
    padding-left: 1.6em;
    display: flex;
    flex-direction: column;
    .nav-menu-item {
        line-height: 2.5em;
        .menu-title {
            display: flex;
            font-size: 14px;
            align-items: center;
            .menu-icon {
                width: 1.4em;
                padding-right: 0.25em;
            }
            .label {
                flex: 1;
            }
            .arrow {
                background: url('../../../../assets/images/top.svg');
                background-size: 1.4em;
                width: 1.4em;
                height: 1.4em;
                transform: rotate(180deg);
                &.rotate-arrow {
                    transform: rotate(0);
                }
            }
            &:hover {
                cursor: pointer;
                color: darkcyan;
                background: rgb(241, 240, 240);
            }
        }
        .child-menu {
            display: none;
            &.show-children {
                display: block;
            }
            .nav-menu-item>.menu-title {
                font-size: 13px;
                padding-left: 10px;
                .arrow {
                    background: url('../../../../assets/images/light-top.svg');
                    background-size: 1.4em;
                }
            }
        }
    }
}
