<div class='dashboard-container'>
    <div class='content-pane left-pane'>
        <div class='intro-area'>
            <img class='avatar' src="../../../assets/images/carton.jpeg" />
            <ul>
                <li>
                    <span class="title">Owner:</span>Reina Wang
                </li>
                <li>
                    <span class="title">Job:</span>Web Developer
                </li>
                <li>
                    <span class="title">GitHub:</span><a href='https://github.com/sunrun93' target="_blank">SUNRUN93</a>
                </li>
            </ul>
        </div>
        <div class='menu-pane'>
            <left-nav [leftNavList]='leftNavList$ | async' (onNavSelect)='onNavSelect($event)'></left-nav>
        </div>
    </div>
    <div class='content-pane main-pane'>
        <div class='top-pane'>
            <div class='welcome-pane'>
                Hey, Welcome to Reina's Zone.
                <angular-emojis [name]="'clap'" size="30"> </angular-emojis>
                <span>
                  <angular-emojis [name]="'star'" size="20"> </angular-emojis>
                  随时、随地，准备好，拥抱变化～
                </span>
            </div>
            <div class='weather-pane'>
                天气插件
            </div>
        </div>
        <div class='main-content-pane'>
            <!-- 瀑布流 -->
            <water-fall></water-fall>
        </div>
    </div>
    <div class='content-pane right-pane'>
        <div class='calander-pane'>
            This is for canlander
        </div>
    </div>
</div>
